
.img-smaller{
	width: 30rem;
}
.nav-img{
	width: 20rem;
}
.navbar-nav > li{
	padding-left: 2rem;
	padding-right: 2rem;
}
#login-body{
	width: 95%;
	background: #000;
	font-family: Arial	;
}
#login-form{
	width: 30%;
	height: 50vh;
	margin: 0px auto;
}
.white-text{
	color: white;
	padding-top: 3rem;
	padding-bottom: 1.5rem;
	font-weight: bold;
}
/*.test-text{
	line-height: 3rem !important;
	border-radius: 4rem;
	width: 100%;
}*/
	
.round-2{
	border-radius: 2rem;
}
#login-form input{
	border-radius: 2rem;
}
.light-text{
	color: #aaa;
	font-size: .8rem;
}
.remember-text{
	font-size: .8rem;
}
#submit-btn{
	/*margin: 2rem;*/
	/*margin-bottom: 2rem;
	margin-top: 2rem;*/
	border-radius: 1rem;
	font-weight: bold;
}