{% extends 'employees/base.html' %}
{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
			{% if message.level == 25 %}
				<div class="alert  alert-success {{ message.tags }} alert-dismissible w-25 mt-2" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{ message | safe }}
				</div>
			{% else %}
				<div class="alert  alert-danger {{ message.tags }} alert-dismissible w-25 mt-2" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{ message | safe }}
				</div>
			{% endif %}
        {% endfor %}
    </ul>
{% endif %}
			
		<div id="main">
			<div class="container">
				<div class="d-flex align-content-center dept-flex">
					<h3 class="red-text align-self-center"><strong>DEPARTMENTS</strong></h3>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

					<!-- Modal -->
					{% for department in departments %}
					<div class="modal fade" id="{{ department.name }}" tabindex="-1" role="dialog" aria-labelledby="department staff" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="dept-staff">Department Staff</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					      		<ul class="list-group">
									{% for staff in department.employees.all %}
 										<li class="list-group-item">{{ staff.name }}</li>
									{% empty %}
										<p>Sorry no employees to display</p>
									{% endfor %}
								</ul>
					      </div>
					    </div>
					  </div>
					</div>
					{% empty %}
						<h3>Sorry no data to display</h3>
					{% endfor %}

					<!-- Departments -->
					<div class="row">
						{% for department in departments %}
							<div class="col-md-4">
								<div class="dept-focus">
									<h4>{{ department.name }}</h4>
									<small><a href="#" data-toggle="modal" data-target="#{{department.name}}">Staff Volume: {{ department.employees.count }}</a></small>
								</div>
							</div>
						{% empty %}
							<h3>Sorry there are no departments to show</h3>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
{% endblock %}